<ion-view title="{{'Scan To Inventory' | translate}}">

    <ion-header-bar class="bar bar-header bar-stable">
        <button menu-toggle="right" class="button button-icon ion-navicon"></button>
        <h1 class="title">{{'Quantity' | translate}}</h1>
        <a class="button icon ion-android-cancel" ui-sref="product({inventory_id: data.inventory_id, location_id: data.location_id})"></a>
    </ion-header-bar>

    <ion-content class="has-header">
        <form ng-submit="submit(data.qty)">
            <div class="list">
                <div class="item item-input">
                    <input type="tel" ng-model="data.qty" id="input_quantity" placeholder="{{'Quantity' | translate}}" autocomplete="off" class="item-input input-required" ng-readonly="data.fixed_qty"/>
                    <button class="button button-positive">
                        <i class="icon ion-plus-circled"></i> {{'Add' | translate}}
                    </button>
                </div>


                <label class="item item-input">
                    <div class="form-label">{{'Current Location' | translate}}</div>
                    <span class="form-field">{{data.location.name}}</span>
                </label>

                <label class="item item-input">
                    <div class="form-label">{{'Name' | translate}}</div>
                    <span class="form-field">{{data.product.name}}</span>
                </label>

                <div ng-repeat="extra_field in data.product">
                    <label class="item item-input" ng-if="extra_field.field_name">
                        <div class="form-label">{{extra_field.field_name}}</div>
                        <span class="form-field">{{extra_field.value}}</span>
                    </label>
                </div>

            </div>
        </form>
        <audio id="sound_quantity_selected" src="./static/audio/quantity_selected.mp3"></audio>
        <audio id="sound_user_error" src="./static/audio/user_error.mp3"></audio>
    </ion-content>

    <ion-footer-bar class="bar-assertive" ng-show="errorMessage">
        <h1 class="title">{{ errorMessage }}</h1>
    </ion-footer-bar>

</ion-view>
