<ion-view title="{{'Scan To Inventory' | translate}}">

    <ion-header-bar class="bar bar-header bar-stable">
        <button menu-toggle="right" class="button button-icon ion-navicon"></button>
        <h1 class="title">{{'Inventories' | translate}}</h1>
    </ion-header-bar>

    <ion-content class="has-header" data-ng-init="init()">
        <form ng-submit="submit()">
            <div class="list">
                <label class="item item-input input-select"> 
                    <div class="form-label" for="input_inventory_name">{{'Inventory Name' | translate}}</div>
                    <input type="text" ng-model="data.inventory_name" id="input_inventory_name" autocomplete="off" class="item-input input-required"/>
                </label>
                <label class="item">
                    <button class="button button-full button-royal">{{'Create New Inventory' | translate}}</button>
                </label>
                <div class="item item-divider">
                    {{'Select Existing Inventory' | translate}}
                 </div>
                <ion-list>
                    <ion-item ng-repeat="inventory in data.inventories">
                        <a class="item" href="#" ng-click="select_inventory(inventory.id)">
                            <h2>{{inventory.name}}</h2>
                            <p>
                                <span class="secondary-line" ng-show="inventory.date">{{inventory.date}}</span>
                                <span class="badge badge-energized inventory-line-qty" ng-show="inventory.inventory_line_qty">
                                    {{inventory.inventory_line_qty}} {{'Line(s)' | translate}}
                                </span>
                            </p>
                        </a>
                    </ion-item>
                </ion-list>
            </div>
        </form>
    </ion-content>
</ion-view>
