/*Overloading Default CSS*/
.item-divider{
    text-align: center;
}

.button-royal{
    border: 2px solid;
    border-radius: 5px;
    font-size: 14px;
}

.item-input{
    font-size:12px !important;
}

a.item{
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f0f0fa), to(#eeeef6));
    border-radius: 4px;
}

/* Custom Classes CSS*/

.top-right-icon {
    position: absolute;
    top: 5px;
    right: 5px;
    bottom: 5px;
    padding: 4px 8px;
    font-size: 25px;
}

.input-required, .select-required{
    background-color: rgb(210, 210, 255) !important;
    border: 2px solid rgb(255, 255, 255) !important;
    border-radius: 4px !important;
    margin: 2px !important;
    padding-left: 4px !important;
}

.input-required:focus, .select-required:focus{
    background-color: rgb(210, 210, 255) !important;
    border: 2px solid rgb(50, 50, 100) !important;
    border-radius: 4px !important;
    margin: 2px !important;
    padding-left: 4px !important;
}

.select-required{
    height: 34px;
    line-height: 16px;
}

.form-label, .form-field{
    font-size:12px !important;
    padding:2px;
}

.form-label{
    font-weight:bold;
}

.load-quantity{
    margin-right: 15px;
}

.secondary-line{
    font-size: small;
}

.inventory-line-qty{
    margin-top: 20px;
}


.toggleAnim.ng-enter {
    opacity: 1;
    transition: opacity 1s linear;
}
.toggleAnim.ng-leave {
    opacity: 0.30;
    transition: opacity 1s linear;
}
.toggleAnim.ng-change {
    color: gray;
}
