odoo_test_helper
odoo14-addon-product_barcode_constraint_per_company @ git+https://github.com/OCA/stock-logistics-barcode.git@refs/pull/537/head#subdirectory=setup/product_barcode_constraint_per_company
