odoo_test_helper
odoo-addon-stock_barcodes @ git+https://github.com/OCA/stock-logistics-barcode@refs/pull/725/head#subdirectory=stock_barcodes
odoo-addon-stock_barcodes_gs1 @ git+https://github.com/OCA/stock-logistics-barcode@refs/pull/729/head#subdirectory=stock_barcodes_gs1
